#login-container {
  margin-top: 15%;
  min-height: calc(100vh - 300px);
  background-image: url(../img/login.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 60%;
}

#login-container h2,
#login-container button,
#login-container form {
  width: 100%;
}

#login-container .form-label {
  float: left;
}

#login-container Button {
  margin-top: 20px;
}
