#login-container {
  margin-top: 15%;
  min-height: 450px;
  background-image: url(../img/login.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 52%;
}

#login-container h2,
#login-container button,
#login-container form {
  width: 100%;
}

#login-container .form-label {
  float: left;
}

#login-container Button {
  margin-top: 20px;
}

#login-container .btn-success {
  color: #fff;
  background-color: #04989e;
  border-color: #04989e;
  font-weight: bold;
}
