#navbar #dropdown-header .row:nth-child(1) {
  font-size: 70px;
  display: flex;
  justify-content: center;
}
#navbar #dropdown-header .row:nth-child(2) {
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
#navbar .dropdown-item .svg-inline--fa {
  margin-right: 11px;
  color: #04989e;
}

.logo {
  width: 22%;
}

.navbar-expand {
  background-color: #fff;
  box-shadow: 1px 1px 11px gray;
}

#navbar .btn-primary {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
}

#navbar .btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: none !important;
}
